  * {
  box-sizing: border-box;
  }

  h1 {
    color: black;
    text-align:center;
    font-family:Sans-serif;
  }

  .container{
    background-color: gray;
    position: relative;
    border:5px solid black;
    margin:20px 5px
  }
 
  span{
    border:2px solid black;
    padding:5px;
    position: absolute;
    top:0px;
    right:0px;
    margin: -2px
  }

  .chickenMenu{
    background-color: palevioletred;
  }

  .beefMenu{
    background-color: red;
    color:white
  }

  .sushiMenu{
    background-color: yellow;
  }

  p{
    padding:30px 0px 0px 0px;
    margin: 0px;
  }

  .row {
  width: 100%;
  }

  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-4
      {
      float: left;
      }
      .col-lg-4 {
        width: 32%;
      }
    }

  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12
      {
        float: left;
      }
      .col-md-6 {
        width: 47%;
      }
      .col-md-12 {
        width: 95%;
      }
      
    }  
